*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* for navbar */
.menubar {
    display: flex;
    justify-content: space-between;
    background-color: grey;
}

.menubar a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 15px;
}

.left-side {
    margin-left: 10px;
    width: 200px;
}

.right-side {
    overflow: hidden;
    background-color: grey;
    justify-content: right;
}

.right-side a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: right;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 15px;
}

.right-side a:hover {
    background-color: rgb(95, 92, 92);
    color: grey;
}

.right-side .icon {
    display: none;
}

@media screen and (max-width: 1200px) {
    .right-side a {
        display: none;
    }

    .right-side a.icon {
        float: right;
        display: block;
    }

    .right-side.responsive {
        position: relative;
    }

    .right-side.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .right-side.responsive a {
        float: none;
        display: flex;
        text-align: left;
    }
}

/*subject list*/
.sub-list a{
    margin-right:20px;
    font-size:16px;
    font-weight:bold;
}

/* for header after navbar */
.head-container {
    background-color: blueviolet;
    padding: 80px;
}
.header{
    text-align: center;
    font-size:40px;
    font-weight: bold;
    font-family:cursive;
    color:white;
}

/* for card */

.row {
    margin: 0rem;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 50%;

}

.column1 {
    float: left;
    width: 33.33%;
    padding: 0 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    border-radius: 10px;
    text-align: justify;
    background-color: #f1f1f1;
}

.card a {
    text-decoration: none;
}

@media screen and (max-width:700px) {
    .row {
        margin: 0rem;
    }

    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .column1 {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        border-radius: 10px;
        text-align: justify;
        background-color: #f1f1f1;
    }

    .card a {
        text-decoration: none;
    }

}

/*for login and register*/
body
{
  background-color: #fab1a0;
}
/*for login and register*/
#login-form
{
    margin-top: 70px;
}
.form-box
{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 2% auto;
    background: white;
    padding: 10px;
    overflow: hidden;
    border-radius:10%;
}
.button-box
{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn
{
    padding: 10px 28px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn
{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #F3C693;
    border-radius: 30px;
    transition: .5s;
}
.input-group-login
{
    top: 150px;
    position: absolute;
    width: 280px;
    
}
.input-group-register
{
    top: 120px;
    position: absolute;
    width: 280px;
}
.input-field
{
    width: 100%;
    padding: 10px 0 10px 10px;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline:none;
}
.submit-btn
{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top:10px;
    background:#F3C693;
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box
{
    margin: 30px 10px 34px;
}
span
{
    color: #777;
    font-size: 12px;
    bottom: 35%;
    position: absolute;
}
#login
{
    left: 50px;
}
#login-input
{
    color: white;
    font-size: 15;
}
#register
{
    left: 450px;
}
#register input
{
    color: black;
    font-size: 15;
}
